
<ion-content class="login">
  <form action="#">
    <h1><img src="assets/imgs/logo-spp.png" ></h1>
    <p>Ingresa tu usuario y contraseña.</p>
    <div class="form-control">
      <input type="text" placeholder="Ingresa tu RUT">
    </div>
    <div class="form-control">
      <input type="password" placeholder="****">
    </div>
    <div class="form-control">
      <button class="button button-primary button-block" type="submit" [navPush]="Home">Ingresar</button>
    </div>
  </form>
</ion-content>
