<!--
  Generated template for the DeporteSubmenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>
            <h1><img src="assets/imgs/logo-spp.png"></h1>
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <!--<ion-list>
        <button ion-item [navPush]="deportesEquipos">Equipos</button>
        <button ion-item [navPush]="deportesGoleadores">Goleadores</button>
        <button ion-item [navPush]="deportesTabla">Tabla de posición</button>
        <button ion-item>Pogramación</button>
    </ion-list>-->
    <ion-content padding>
      <button class="button_submenu" ion-button block [navPush]="futSubMenu">Futbol</button>
      <button ion-button block [navPush]="depInfraestructura">Infraestructura Deportiva</button>
    </ion-content>

</ion-content>
