<!--
  Generated template for the EmprendedoraImportaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>
            <h1><img src="assets/imgs/logo-spp.png"></h1>
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content>

    <div class="map">
        <iframe src="http://del.sanpedrodelapaz.cl/china/index.php" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

</ion-content>
