<!--
  Generated template for the MapaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>
            <h1><img src="assets/imgs/logo-spp.png"></h1>
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content>

    <div class="map">
        <iframe src="https://sigspp.maps.arcgis.com/apps/MapTour/index.html?appid=79568aef017b4171aa5fb418cfe13a25" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

</ion-content>