<ion-header>
    <ion-navbar>
        <ion-title>
            <h1><img src="assets/imgs/logo-spp.png"></h1>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="noBg">
    <div class="box">
        <span><ion-icon name="football"></ion-icon>Ciudad Atractiva</span>
        <ul class="sub-menu">
            <li [navPush]="deportessubmenu">Deportes</li>
            <li [navPush]="atrPanoramas">Panoramas</li>
            <li [navPush]="atrTuristicos">Atractivos turisticos</li>
            <li [navPush]="">Como llegar</li>
        </ul>
        <img src="assets/imgs/menu_deportes.png">
    </div>
    <div class="box">
        <span><ion-icon name="restaurant"></ion-icon>Ciudad Segura</span>
        <img src="assets/imgs/menu_deportes.png">
        <ul class="sub-menu">
            <li  >N° de Interes</li>
            <li [navPush]="segMaps">Mapas de riesgos</li>
            <li [navPush]="segSubMenu" >Prevención de Riesgos</li>
        </ul>
    </div>
    <div [navPush]="noticiasListadopage" class="box full-width">
        <span><ion-icon name="camera"></ion-icon>Noticias</span>
        <img src="assets/imgs/menu_panoramas.jpg">

    </div>
    <div class="box">
      <span><ion-icon name="chatboxes"></ion-icon>Ciudad Emprendedora</span>
      <img src="assets/imgs/menu_informacion.jpg">
      <ul class="sub-menu">
          <li [navPush]="empImporta">Importa</li>
          <li [navPush]="empEmprender">Emprende</li>
      </ul>
  </div>
  <div class="box">
      <span><ion-icon name="cloudy-night"></ion-icon>Ciudad Sustentable</span>
      <img src="assets/imgs/menu_noticias.jpg">
      <ul class="sub-menu">
          <li [navPush]="susPuntos">Puntos Limpios</li>
          <li [navPush]="susPlazas">Plazas y Parques</li>
          <li [navPush]="">Ecosistema</li>
      </ul>
  </div>
  <div class="box full-width">
    <span><ion-icon name="camera"></ion-icon>Ciudad Participativa</span>
    <img src="assets/imgs/menu_panoramas.jpg">
    <ul class="sub-menu">
        <li [navPush]="parListado" [navParams]="{page:'1'}">Mesas Participativas</li>
        <li [navPush]="parListado" [navParams]="{page:'2'}">Mesas Barriales</li>
        <li [navPush]="parListado" [navParams]="{page:'3'}">Presupuestos Participativos</li>
        <li [navPush]="parListado" [navParams]="{page:'4'}">Inversión Social</li>
        <li [navPush]="parListado" [navParams]="{page:'5'}">Ahora es cuando deja tu huella</li>
    </ul>
</div>

</ion-content>
