page-home {

}
ion-app.md, ion-app.ios{
  font-family: 'Open Sans', sans-serif;
}
// VARIABLES
$brand-primary-color: #137fff;
$second-color: #ccba19;

.toolbar-background-md{
  background: url("../assets/imgs/bg-header.png") no-repeat left top $brand-primary-color;
  background-size: 100%;
}
.header-ios .toolbar-ios:last-child .toolbar-background-ios, .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
  display: none;
}

ion-header, .header-ios{
  background: url("../assets/imgs/bg-header.png") no-repeat left top $brand-primary-color;
  background-size: 100%;
  transition: all 0.5s;
  &.noBg{
    background: none;
    .toolbar-background-md, .toolbar-background-ios{
      background: none;
    }
  }
  .back-button{
    color: #fff;
    position: absolute;
    z-index: 5;
  }
  h1{
    margin: 0;
    color: #fff;
    font-size: 20px;
    img{
      max-width: 140px;
      margin: 0 auto;
      display: block;
      width: 100%;
    }
  }
}
image-viewer.ion-page ion-navbar.toolbar.toolbar-ios {
  padding-top: 4px !important;
}
.content-md, .content-ios{
  background: url("../assets/imgs/bg-content.png");
  background-size: 100%;
  background-repeat: repeat-y;
}
.content-md, .content-ios{
  &.noBg{
    background: #fff;
  }
}
.fixedHeader .scroll-content{
  margin-top: 0 !important;
}
.box{
  margin: 0.5px;
  background-color: #000000;
  float: left;
  width: calc(50% - 1px);
  color: #ffffff;
  overflow: hidden;
  position: relative;
  transition: all 0.3s;
  transition-delay: 0.6s;
  &.full-width{
    width: calc(100% - 1px);
  }
  &:hover, &:focus, &:active{
    background-color: #fff;
    >span{
      color: #333;
      left: 0;
      padding: 10px;
      top: 0;
      width: 100%;
      transform: translateY(0);
      font-size: 18px;
      font-weight: 700;
      ion-icon{
        font-size: 0;
      }
    }
    .sub-menu{
      opacity: 1;
      top: 50px;
      visibility: visible;
    }
    img{
      transform: scale(1.2);
      opacity: .2;
    }
  }
  .sub-menu{
    margin: 0;
    position: absolute;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    width: 85%;
    opacity: 0;
    visibility: hidden;
    padding: 0;
    transition: all 0.5s;
    transition-delay: 0.6s;
    li{
      border-bottom: 1px #999 solid;
      list-style: none;
      padding: 5px;
      font-size: 14px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      border-radius: 3px;
      margin: 0;
      color: #333;
      font-weight: 400;
      text-align: center;
      &:last-child{
        border-bottom: none;
      }
      &:focus, &:active{
        background-color: rgba(0,0,0,.3);
        color: #fff;
      }
    }
  }
  >span{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    font-size: 22px;
    z-index: 2;
    display: block;
    width: 100%;
    text-align: center;
    line-height: 20px;
    transition: all 0.5s;
    transition-delay: 0.6s;
    >ion-icon{
      margin: 0 auto;
      display: block;
      text-align: center;
      font-size: 25px;
      transition: all 0.5s;
      color: #fff;
    }
  }
  img{
    display: block;
    opacity: 0.63;
    width: 100%;
    transition: all 0.5s;
  }
}
.map{
  iframe{
    height: calc(100vh - 44px);
  }
}
.categories-list{
  border: 1px #fff solid;
  overflow: hidden;
  overflow-x: auto;
  ul{
    padding: 0;
    margin: 0;
    display: table;
    li{
      display: table-cell;
      list-style: none;
      margin: 0;
      &:last-child{
        a{
          border: none;
        }
      }
      a{
        display: block;
        white-space: nowrap;
        color: #fff;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        border-right: 1px #fff solid;
        transition: all 0.5s;
        &:hover{
          background-color: #fff;
          color: $brand-primary-color;
        }
      }
    }
  }
}

ion-content{
  .contentInt{
    color: #fff;
    h1{
      font-size: 18px;
    }
    p{
      font-size: 14px;
    }
  }
}
.list-detalle{
  padding: 0;
  margin: 0;
  &.news-style{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    li{
      display: block;
      width: 50%;
      padding: 5px;
      margin-bottom: 20px;
      .img{
        position: static;
        transform: none;
        width: 100%;
        height: auto;
        display: block;
        border-radius: 0;
        margin-bottom: 10px;
        img{

        }
      }
      .date{
        display: block;
        font-size: 12px;
        margin: 5px 0;
        color: rgba(256,256,256,0.6);
      }
      .author{
        margin: 5px 0;
        color: rgba(256,256,256,0.6);
        display: block;
        font-size: 12px;
      }
      p{
        font-size: 14px;
      }
    }
  }
  li{
    display: table;
    width: 100%;
    list-style: none;
    padding: 20px 20px 20px 80px;
    border-bottom: 1px rgba(256,256,256,0.2) solid;
    color: #fff;
    position: relative;
    .img{
      border-radius: 100%;
      overflow: hidden;
      width: 50px;
      height: 50px;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      img{
        display: block;
        width: 100%;
      }
    }
    h2{
      margin: 0;
      font-size: 18px;
      font-weight: 700;
    }
    p{
      margin: 0;
    }
  }
}
.slider-gallery{
  position: relative;
  overflow: hidden;
  .item{
    position: relative;
    &:before{
      background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100px;
      z-index: 2;
    }
    h2{
      position: absolute;
      bottom: 20px;
      left: 20px;
      color: #fff;
      font-weight: 300;
      font-size: 25px;
      z-index: 3;
    }
  }
}

.gallery{
  display: table;
  width: 100%;
  img{
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.35);
  }
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.column img {
  margin-top: 12px;
  width: 100%;
}
.login{
  text-align: center;
  form{
    max-width: 80%;
    margin: 0 auto;
    padding-top: 30%;
  }
  h1{
    max-width: 170px;
    margin: 0 auto;
    img{
      display: block;
      width: 100%;
    }
  }
  p{
    color: #fff;
    margin-bottom: 30px;
  }
  .form-control{
    display: table;
    margin: 0 0 20px;
    width: 100%;
    input{
      background-color: rgba(0, 0, 0, 0.15);
      border: none;
      padding: 15px 10px;
      color: #fff;
      display: block;
      width: 100%;
      margin: 0;
      border-radius: 4px;
      box-shadow: 0 0 20px rgba(0,0,0,0.1) inset;
      &:focus{
        outline: none;
      }
      &::-webkit-input-placeholder { /* Chrome */
        color: rgba(256,256,256,0.7);
        font-style: italic;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: rgba(256,256,256,0.7);
        font-style: italic;
      }
    }
  }
}
.table100 .ps__rail-y {
  width: 9px;
  background-color: transparent;
  opacity: 1 !important;
  right: 5px;
}

.table100 .ps__rail-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ebebeb;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

.table100 .ps__rail-y .ps__thumb-y {
  width: 100%;
  right: 0;
  background-color: transparent;
  opacity: 1 !important;
}

.table100 .ps__rail-y .ps__thumb-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #cccccc;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}


/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 1366px;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #fff;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.table100 {
  background-color: #fff;
}

table {
  width: 100%;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column1 {
  width: 20%;
  padding-left: 20px;
}

.column2 {
  width: 13%;
}

.column3 {
  width: 22%;
}

.column4 {
  width: 19%;
}

.column5 {
  width: 13%;
}

.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}

/*==================================================================
[ Fix header ]*/
.table100 {
  position: relative;
  padding-top: 60px;
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.table100-body {
  max-height: 585px;
  overflow: auto;
}


/*==================================================================
[ Ver1 ]*/

.table100.ver1 th {
  font-size: 18px;
  color: #fff;
  line-height: 1.4;
  text-align: left;
  background-color: #6c7ae0;
}

.table100.ver1 td {
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
}

.table100.ver1 .table100-body tr:nth-child(even) {
  background-color: #f8f6ff;
}

/*---------------------------------------------*/

.table100.ver1 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.4);
}

.table100.ver1 .ps__rail-y {
  right: 5px;
}

.table100.ver1 .ps__rail-y::before {
  background-color: #ebebeb;
}

.table100.ver1 .ps__rail-y .ps__thumb-y::before {
  background-color: #cccccc;
}

/*==================================================================
[ Ver3 ]*/

.table100.ver3 {
  background-color: #393939;
}

.table100.ver3 th {
  font-size: 15px;
  color: $second-color;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #393939;
  text-align: left;
}

.table100.ver3 td {
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
  background-color: #222222;
}


/*---------------------------------------------*/

.table100.ver3 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver3 .ps__rail-y {
  right: 5px;
}

.table100.ver3 .ps__rail-y::before {
  background-color: #4e4e4e;
}

.table100.ver3 .ps__rail-y .ps__thumb-y::before {
  background-color: #00ad5f;
}

.item-md{
  /*background-color: rgba(256,256,256,.5);*/
  background-color: transparent;
  text-indent: 20px;
  padding-left: 0;
  color: #fff;
}
.list-md{
  .item-block{
    .item-inner {
      border-bottom: 1px solid rgba(256,256,256,.5);
    }
  }
}
.button-primary{
  background-color: $second-color;
  color: #fff;
  text-align: center;
  padding: 15px 10px;
  contain: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}




/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

