<!--
  Generated template for the SeguraMapsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-title>
          <h1><img src="assets/imgs/logo-spp.png"></h1>
      </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <div class="map">
      <iframe src="https://sigspp.maps.arcgis.com/apps/webappviewer/index.html?id=324a163d87bf4673a7e74899cfe64430" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

</ion-content>
