<!--
  Generated template for the SustentablePuntosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>
            <h1><img src="assets/imgs/logo-spp.png"></h1>
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content>

    <div class="map">
        <!--<iframe src="https://www.google.com/maps/d/u/0/viewer?mid=1cE2jZ5e4HmrzoSuusCJgrIp3y5s&hl=es&ll=-36.861355024171395%2C-73.10100786176753&z=12" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>-->
        <iframe src="https://www.google.com/maps/d/embed?mid=1cE2jZ5e4HmrzoSuusCJgrIp3y5s&hl=es" width="640" height="480"></iframe>
    </div>
</ion-content>
