<!--
  Generated template for the SustentablePlazasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>
            <h1><img src="assets/imgs/logo-spp.png"></h1>
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content>

    <div class="map">
        <iframe src="https://www.google.com/maps/d/embed?mid=1iCoew57LxYmOshX7BdkNz0guxes" width="640" height="480"></iframe>
    </div>

</ion-content>
