<!--
  Generated template for the TablePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-title>
        <h1><img src="assets/imgs/logo-spp.png"></h1>
      </ion-title>
    </ion-navbar>
  </ion-header>


  <ion-content padding>

    <div class="table100 ver3 m-b-110">
      <div class="table100-head">
        <table>
          <thead>
          <tr class="row100 head">
            <th class="cell100 column1">Jugador</th>
            <th class="cell100 column2">Equipo</th>
            <th class="cell100 column3">Goles</th>
          </tr>
          </thead>
        </table>
      </div>

      <div class="table100-body js-pscroll">
        <table>
          <tbody>
          <tr class="row100 body">
            <td class="cell100 column1">Claudio Monardes</td>
            <td class="cell100 column2">Atlético Universitario</td>
            <td class="cell100 column3"><strong>18</strong></td>
          </tr>

          <tr class="row100 body">
            <td class="cell100 column1">Erik Gatica</td>
            <td class="cell100 column2">Balmaceda</td>
            <td class="cell100 column3"><strong>13</strong></td>
          </tr>

          <tr class="row100 body">
            <td class="cell100 column1">Claudio Monardes</td>
            <td class="cell100 column2">Estrella Bío Bío</td>
            <td class="cell100 column3"><strong>9</strong></td>
          </tr>

          <tr class="row100 body">
            <td class="cell100 column1">Erik Gatica</td>
            <td class="cell100 column2">Huertos Familiares</td>
            <td class="cell100 column3"><strong>7</strong></td>
          </tr>

          <tr class="row100 body">
            <td class="cell100 column1">Claudio Monardes</td>
            <td class="cell100 column2">Juventud Colo Colo</td>
            <td class="cell100 column3"><strong>5</strong></td>
          </tr>

          <tr class="row100 body">
            <td class="cell100 column1">Erik Gatica</td>
            <td class="cell100 column2">Juventud Spring-Hill</td>
            <td class="cell100 column3"><strong>1</strong></td>
          </tr>


          </tbody>
        </table>
      </div>
    </div>
  </ion-content>
