<!--
  Generated template for the ParticipativaListadoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
      <ion-title>
          <h1><img src="assets/imgs/logo-spp.png"></h1>
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ul class="list-detalle">
      <li [navPush]="parDetalle" [navParams]="{id:inf.id}" *ngFor="let inf of info">
          <div class="img">
              <!--<img src="assets/imgs/logo-ue.jpg">-->
              <img [src]="inf.imagen_small  ? inf.imagen_small : img_default">
          </div>
          <h2>{{inf.nombre}}</h2>
          <p class="truncate-text">{{inf.descripcion}}</p>
      </li>
  </ul>
</ion-content>
