<!--
  Generated template for the PanoramasDetallePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="noBg">

    <ion-navbar>
        <ion-title>
            <h1><img src="assets/imgs/logo-spp.png"></h1>
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="fixedHeader">

    <div class="slider-gallery">
        <div class="item">
            <!--<h2>Deporte</h2>-->
            <img src="assets/imgs/img-slider.jpg">
        </div>
        <div class="item">
            <h2>Deporte</h2>
            <img src="assets/imgs/img-slider-b.jpg" >
        </div>
    </div>

    <div class="contentInt" padding>
        <h1 style="text-align:center;">TITULO.</h1>
        <!--<p>{{text | limitToPipe:10}}</p>-->
        <!--<div class="gallery">
            <div class="column">
                <img src="assets/imgs/img-deporte.jpg" imageViewer>
                <img src="assets/imgs/img-turismo.jpg" imageViewer>
                <img src="assets/imgs/img-deporte.jpg" imageViewer>
            </div>
            <div class="column">
                <img src="assets/imgs/img-turismo.jpg" imageViewer>
                <img src="assets/imgs/img-deporte.jpg" imageViewer>
                <img src="assets/imgs/img-deporte.jpg" imageViewer>
            </div>
        </div>-->
        <p>Horario 10:30-20:30</p>

    </div>

</ion-content>
