<!--
  Generated template for the RiesgosDetallePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>riesgos-detalle</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="map">
    <!--<iframe [src]="url" width="640" height="480" ngDefaultControl></iframe>-->
    {{data}}
</div>
</ion-content>
