<ion-header>
    <ion-navbar>
      <ion-title>
        <h1><img src="assets/imgs/logo-spp.png" ></h1>
      </ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>
    <ul class="list-detalle">
      <li>
        <div class="img">
          <img src="assets/imgs/logo-ue.jpg" >
        </div>
        <h2>Atlético Universitario</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempus feugiat tellus, sollicitudin vehicula sem commodo eget.</p>
      </li>
      <li>
        <div class="img">
          <img src="assets/imgs/logo-ue.jpg" >
        </div>
        <h2>Balmaceda</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempus feugiat tellus, sollicitudin vehicula sem commodo eget.</p>
      </li>
      <li>
        <div class="img">
          <img src="assets/imgs/logo-ue.jpg" >
        </div>
        <h2>Estrella Bío Bío</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempus feugiat tellus, sollicitudin vehicula sem commodo eget.</p>
      </li>
      <li>
          <div class="img">
            <img src="assets/imgs/logo-ue.jpg" >
          </div>
          <h2>Huertos Familiares</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempus feugiat tellus, sollicitudin vehicula sem commodo eget.</p>
        </li>
        <li>
            <div class="img">
              <img src="assets/imgs/logo-ue.jpg" >
            </div>
            <h2>Independiente</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempus feugiat tellus, sollicitudin vehicula sem commodo eget.</p>
          </li>
          <li>
        <div class="img">
          <img src="assets/imgs/logo-ue.jpg" >
        </div>
        <h2>Juventud Colo Colo</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempus feugiat tellus, sollicitudin vehicula sem commodo eget.</p>
      </li>
      <li>
        <div class="img">
          <img src="assets/imgs/logo-ue.jpg" >
        </div>
        <h2>Juventud Spring-Hill</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempus feugiat tellus, sollicitudin vehicula sem commodo eget.</p>
      </li>
      <li>
        <div class="img">
          <img src="assets/imgs/logo-ue.jpg" >
        </div>
        <h2>Luis Alberto Acevedo</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempus feugiat tellus, sollicitudin vehicula sem commodo eget.</p>
      </li>
      <li>
        <div class="img">
          <img src="assets/imgs/logo-ue.jpg" >
        </div>
        <h2>Obdulio Ramírez</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempus feugiat tellus, sollicitudin vehicula sem commodo eget.</p>
      </li>
      <li>
        <div class="img">
          <img src="assets/imgs/logo-ue.jpg" >
        </div>
        <h2>Pedro de Valdivia</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempus feugiat tellus, sollicitudin vehicula sem commodo eget.</p>
      </li>
      <li>
        <div class="img">
          <img src="assets/imgs/logo-ue.jpg" >
        </div>
        <h2>Riviera Sur</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempus feugiat tellus, sollicitudin vehicula sem commodo eget.</p>
      </li>
      <li>
        <div class="img">
          <img src="assets/imgs/logo-ue.jpg" >
        </div>
        <h2>San Pedro</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempus feugiat tellus, sollicitudin vehicula sem commodo eget.</p>
      </li>
    </ul>
  </ion-content>
