<!--
  Generated template for the AtractivaTuristicosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the AtractivaPanoramasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-title>
        <h1><img src="assets/imgs/logo-spp.png" ></h1>
      </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content>
    <ul class="list-detalle">
      <li [navPush]="linkDetalle" [navParams]="{id:1}">
        <div class="img">
          <img src="assets/imgs/logo-ue.jpg" >
        </div>
        <h2>Atlético Universitario</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempus feugiat tellus, sollicitudin vehicula sem commodo eget.</p>
      </li>
      <li [navPush]="linkDetalle" [navParams]="{id:2}">
        <div class="img">
          <img src="assets/imgs/logo-ue.jpg" >
        </div>
        <h2>Balmaceda</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempus feugiat tellus, sollicitudin vehicula sem commodo eget.</p>
      </li>
    </ul>
  </ion-content>
