<!--
  Generated template for the DeportesProgramacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-title>
        <h1><img src="assets/imgs/logo-spp.png"></h1>
      </ion-title>
    </ion-navbar>
  </ion-header>


  <ion-content padding>

    <div class="table100 ver3 m-b-110">
      <div class="table100-head">
        <table>
          <thead>
          <tr class="row100 head">
            <th class="cell100 column1">Local</th>
            <th class="cell100 column2">Visita</th>
            <th class="cell100 column3">Cancha</th>
          </tr>
          </thead>
        </table>
      </div>

      <div class="table100-body js-pscroll">
        <table>
          <tbody>
          <tr class="row100 body">
            <td class="cell100 column1">Atlético Universitario</td>
            <td class="cell100 column2">Estrella Bío Bío</td>
            <td class="cell100 column3">Cancha 1</td>
          </tr>

          <tr class="row100 body">
            <td class="cell100 column1">Juventud Colo Colo</td>
            <td class="cell100 column2">Balmaceda</td>
            <td class="cell100 column3">Cancha 3</td>
          </tr>

          <tr class="row100 body">
            <td class="cell100 column1">Huertos Familiares</td>
            <td class="cell100 column2">San Pedro</td>
            <td class="cell100 column3">Cancha 2</td>
          </tr>

          <tr class="row100 body">
            <td class="cell100 column1">Riviera Sur</td>
            <td class="cell100 column2">Obdulio Ramírez</td>
            <td class="cell100 column3">Cancha 1</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ion-content>
