<!--
  Generated template for the RiesgosSubmenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
      <ion-title>
          <h1><img src="assets/imgs/logo-spp.png"></h1>
      </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <!--<ion-list>
      <button ion-item [navPush]="deportesEquipos">Equipos</button>
      <button ion-item [navPush]="deportesGoleadores">Goleadores</button>
      <button ion-item [navPush]="deportesTabla">Tabla de posición</button>
      <button ion-item>Pogramación</button>
  </ion-list>-->
  <ion-content padding>
    <button ion-button block (click)="openFile('SISMOS.pdf')">En caso de sismos</button>
    <button ion-button block (click)="openFile('TSUNAMI.pdf')" >En caso de tsunami</button>
    <button ion-button block (click)="openFile('INUNDACIONES.pdf')">En caso de Inundaciones</button>
    <button ion-button block (click)="openFile('ALUVIONES.pdf')">En caso de aluviones</button>
    <button ion-button block (click)="openFile('INCENDIOS-ESTRUCRTURALES.pdf')">En caso de incendios estructurales</button>
    <button ion-button block (click)="openFile('FORESTALES-2014.pdf')">En caso de incendios forestales</button>
  </ion-content>

</ion-content>
