<ion-header>
    <ion-navbar>
        <ion-title>
            <h1><img src="assets/imgs/logo-spp.png"></h1>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ul class="list-detalle news-style">
        <li [navPush]="noticiasDetalle" *ngFor="let noticia of noticias">
            <div class="img" >
                    <img [src]="validImg(noticia.imagen_small)  ? noticia.imagen_small : img_default">
                    <!--<ion-img width="150" height="150" src="assets/imgs/default.png"></ion-img>-->
            </div>
            <h2>{{noticia.nombre}}</h2>
            <span class="date">10 Mayo de 2018</span>
            <p class="truncate-text">{{noticia.descripcion}}</p>
            <span class="author">Autor: Erik Gatica</span>
        </li>
    </ul>
</ion-content>
